In [1]:
# import the required libraries for data set

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
df= pd.read_csv("C:/Users/chhat/Computer_Code/Dummy_Data/alarms_data.csv")

In [33]:
df

,Date,Batch_No.,Alarm_Description,Alarm_Category
0,2023-12-09,1236,Unit exactly plant work religious ago tree.,Product Impacting
1,2024-05-31,8578,Television hand by modern because second notice.,Product Impacting
2,2024-08-01,3956,Admit president than education away one rule p...,Low Impacting
3,2023-09-14,9589,Figure person pull book machine admit them.,Non-Impacting
4,2024-05-06,4665,Would teacher enough.,Non-Impacting
...,...,...,...,...
9995,2023-10-12,7299,Field international wear source same trade.,Low Impacting
9996,2023-12-01,9393,Again owner through.,Product Impacting
9997,2023-12-29,6170,Door evening rock sense store happen career.,Non-Impacting
9998,2023-12-19,4506,Kind here try usually seek memory.,Low Impacting
9999,2024-06-22,1016,Eye husband traditional.,Low Impacting

In [34]:
df['Date'].nunique()

731

In [5]:
df.shape

(10000, 4)

In [6]:
df.size

40000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Batch_No.          10000 non-null  int64
 2   Alarm_Description  10000 non-null  object
 3   Alarm_Category     10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [8]:
df['Date']=pd.to_datetime(df['Date'], errors= 'coerce')

In [9]:
df

,Date,Batch_No.,Alarm_Description,Alarm_Category
0,2023-12-09,1236,Unit exactly plant work religious ago tree.,Product Impacting
1,2024-05-31,8578,Television hand by modern because second notice.,Product Impacting
2,2024-08-01,3956,Admit president than education away one rule p...,Low Impacting
3,2023-09-14,9589,Figure person pull book machine admit them.,Non-Impacting
4,2024-05-06,4665,Would teacher enough.,Non-Impacting
...,...,...,...,...
9995,2023-10-12,7299,Field international wear source same trade.,Low Impacting
9996,2023-12-01,9393,Again owner through.,Product Impacting
9997,2023-12-29,6170,Door evening rock sense store happen career.,Non-Impacting
9998,2023-12-19,4506,Kind here try usually seek memory.,Low Impacting
9999,2024-06-22,1016,Eye husband traditional.,Low Impacting

In [10]:
df.dtypes

Date                 datetime64[ns]
Batch_No.                     int64
Alarm_Description            object
Alarm_Category               object
dtype: object

In [11]:
df.isnull().sum()

Date                 0
Batch_No.            0
Alarm_Description    0
Alarm_Category       0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [35]:
df['Alarm_Category'].unique()

array(['Product Impacting', 'Low Impacting', 'Non-Impacting'],
      dtype=object)

In [37]:
df

,Date,Batch_No.,Alarm_Description,Alarm_Category
0,2023-12-09,1236,Unit exactly plant work religious ago tree.,Product Impacting
1,2024-05-31,8578,Television hand by modern because second notice.,Product Impacting
2,2024-08-01,3956,Admit president than education away one rule p...,NaN
3,2023-09-14,9589,Figure person pull book machine admit them.,NaN
4,2024-05-06,4665,Would teacher enough.,NaN
...,...,...,...,...
9995,2023-10-12,7299,Field international wear source same trade.,NaN
9996,2023-12-01,9393,Again owner through.,Product Impacting
9997,2023-12-29,6170,Door evening rock sense store happen career.,NaN
9998,2023-12-19,4506,Kind here try usually seek memory.,NaN
9999,2024-06-22,1016,Eye husband traditional.,NaN

In [50]:
# Step 1: Filter rows where 'Alarm_Category' is 'Product Impacting'
product_impacting_df = df[df['Alarm_Category'] == 'Product Impacting']

# Step 2: Sort the filtered rows by a specific column, e.g., 'datetime'
sorted_product_impacting_df = product_impacting_df.sort_values(by='Batch_No.')

In [51]:
sorted_product_impacting_df

,Date,Batch_No.,Alarm_Description,Alarm_Category
853,2023-04-13,1000,Ball peace accept contain machine safe speech.,Product Impacting
3829,2023-03-19,1001,South political system drop.,Product Impacting
9356,2023-05-12,1001,Practice vote think however admit field rest.,Product Impacting
8658,2022-11-02,1008,Building single heavy remain reduce yes.,Product Impacting
2647,2024-02-14,1012,Stop always growth few poor increase rate.,Product Impacting
...,...,...,...,...
5858,2023-07-20,9984,Often national case true market member keep.,Product Impacting
1023,2023-07-24,9987,Window major story PM strong.,Product Impacting
987,2024-08-24,9988,On environment remember end police upon writer.,Product Impacting
9406,2024-01-26,9988,Air arm other real.,Product Impacting
3828,2024-07-31,9990,Century return political here history she nice.,Product Impacting