## **Data Cleaning Using Python**

#### **Introduction**
---
Data cleaning is one of the most important steps to take before the analysis process begins. It is the process that can make or mar your analysis. safe to say, a dirty data cannot produce a clean analysis.

#### **What is Data Cleaning?**

Data cleaning is the process of identifying, correcting or removing errors, inconsistencies , and inaccuracies in data in order to imporve its quality and ensure the data is accurate and reliable for analysis. Here, i choose to use python because of the various libraries and tools that can be used for data cleaning. Stay with me and grab a snack!

#### **Data Source** | **Backstory** | **Summary**
---
This dataset was gotten from kaggle.com, was scrapped off imdb top netflix and tvshows. it contains 9 columns and about 9999 rows. This data is completely raw.

#### **Data Cleaning Process** 
---
These are the process i carried out in the course of this project.

- Import the libraries 
- Load the data
- Check for Null Values
- Drop or Replace Nulls
- Check and convert datatype 
- Check for Duplicates 
- Drop duplicates
- Check for string inconsistency 
- Check for whitespaces and irrelevant puntuations.

##### **_Importing the basics_**
First step is to import the necessary libraries, then import the dataset. 
here, i am using pandas and numpy as they are the most popular libraries used in cleaning data.

In [ ]:
#first, i would import the data to my jupyter 
import pandas as pd
import numpy as np

file_path = r"C:\Users\chhat\Computer_Code\movies.csv"
#read the data into the notebook
movie_df = pd.read_csv(file_path)
#print the dataset
movie_df

A quick summary of the dataset...

In [ ]:
#checking the dataset sneak pick
movie_df.info()

#### **_Handling Missing Values_**

In the cell above, notice the non-null numbers dropping, that is to show that there are null values in the dataset. so i looked further.

In [ ]:
#first step in my cleaning process, is to get rid of null values. 
#here we notice a drop in the numbers of non_null, meaning there are null values in there. lets take a look
movie_df.isna()

In [ ]:
#this supports the claim, but lets look inwards to the count of these null cells
movie_df.isna().sum()
#There were enough Null values in the dataset.

In [ ]:
movie_df.isnull().sum().sum()

In [ ]:
#let us treat them one after the other. 
#for the year column, we will drop the rows where year is null. 

movie_df = movie_df.dropna(subset = ['YEAR'])
#Drop rows with Null values made more sense for an unbiase analysis. 
#print the dataset
movie_df

In [ ]:
#the rows with null values have been dropped. 
#let's take a look
movie_df.isna().sum()

In [ ]:
#next is the genre column, imagine a movie without a genre classification, it should be dropped to avoid confusion 
movie_df = movie_df.dropna(subset = ['GENRE'])
#print the dataset
movie_df

In [ ]:
#so let's check
movie_df.isna().sum()

In [ ]:
#Next is the rating column. 
#Rating column can be replaced with the average rating in the column. 
movie_df['RATING'].fillna(movie_df['RATING'].mean(), inplace = True)
#hit with a warning error.
#print dataset 
movie_df

Got hit with the setting with copy warning, i got upset at this point, until i got help from a senior colleague. then it was suppressed!

In [ ]:
#Now, i would round off the column to a 1dp. 
#I need to fix the warning error before proceeding. 
pd.options.mode.chained_assignment = None

In [ ]:
movie_df['RATING'] = movie_df['RATING'].round(1)
#print the dataset 
movie_df

In [ ]:
#confirm changes and proceed.
movie_df.isna().sum()

In [ ]:
#up to the next column VOTES.i need to replace the null values with the mean value, however there is a problem, the column is a string,
#so i might need to convert first before finding the mean value. 
movie_df['VOTES'] = movie_df['VOTES'].astype(float).astype(int, errors='ignore')
#converting directly didnt go through as there were ',' in the values.

In [ ]:
#so with value error, lets try another approach 
try:
    #replace the ',' with ''.
    movie_df['VOTES'] = movie_df['VOTES'].str.replace(',' , '').astype(float)
except ValueError as e:
    #print error if any
    print(f'Error: {e}')
#print the dataset
print(movie_df)

In [ ]:
#next, i'd get the mean value and replace the null values with it. 
movie_df['VOTES'].fillna(movie_df['VOTES'].mean(), inplace = True)
#print to show changes
movie_df
#next, i want to round up to 1dp. 
movie_df['VOTES'] = movie_df['VOTES'].round(1)
#print the dataset
movie_df

In [ ]:
#next is the runtime column 
movie_df['RunTime'].fillna(movie_df['RunTime'].mean(), inplace = True)
#print the dataset
movie_df
#next, i would round off to 1dp
movie_df['RunTime'] = movie_df['RunTime'].round(1)
#print the dataset
movie_df

In [ ]:
#next is the gross column
movie_df.isna().sum()
#there are 8856 null values here

In [ ]:
#so Gross has so many null values in the column, i would replace the null with ZERO. 
movie_df['Gross'].fillna(0, inplace = True)
movie_df
#job is done on that. next i would be changing their data type to the appropriate one.

#### **_Handling Incorrect Data Types_**

It is fine to have wrong data types for each columns. The job here is to convert to the appropriate type, some columns have already been treated in the previous step.

In [ ]:
#first, let me check the affected columns
movie_df.info()

In [ ]:
#the year is in string, it should be changed to the date data type.
movie_df['YEAR']
#to achieve that, first i must strip the column off any delimiter that is not a digit

In [ ]:
print("Chhatra Ram")

In [ ]:
#regex helps to filter the values in the columns and ensure they are treated as the condition set.
new_date = movie_df['YEAR'].str.replace('[^0-9]', '', regex = True)
#print the dataset
new_date
# there are rows with extra values aside the dates, as shown below.

In [ ]:
# Trim the strings by removing extra digits behind the first 4.
trimmed_dates = [date[:4] for date in new_date]
# Displaying the trimmed strings
for trimmed_date in trimmed_dates:
    print(trimmed_date)
#replace the values with the year column

In [ ]:
#replace the column with the trimmed date values
movie_df.loc[:, 'YEAR'] = trimmed_dates
#print the dataset
movie_df

In [ ]:
#to double check the column
movie_df['YEAR'].unique()

In [ ]:
#next, i will change the datatype to datestamp, ns must be written with datatime64 to do the job
movie_df['YEAR'] = movie_df['YEAR'].astype('datetime64[ns]')
#print the dataset
movie_df

In [ ]:
#next,the genre column. 
#let me get the distinct values first.
movie_df['GENRE'].unique()
#this is to show the extent of the dirty data.

In [ ]:
movie_df.GENRE.nunique()

In [ ]:
#first i will get rid of the white spaces.
movie_df['GENRE'] = movie_df['GENRE'].str.strip()
#print the dataset
movie_df

In [ ]:
#i want to spilt the key words into columns 
#get the unique vales first
movie_df['GENRE'].unique()

In [ ]:
#i will split the keywords into columns 
# Split the keywords into separate columns using get_dummies
#get_dummies would split the keywords into columns and change it to a categorical data type, where 1 means present and 0 means otherwise
genre_df = movie_df['GENRE'].str.get_dummies(', ')
#print the new columns dataset
genre_df

In [ ]:
#change the dataframe to a categorical data type.
genre_df = genre_df.astype('category')
#print the dataset
genre_df.info()

In [ ]:
#next, i'll drop the old column and replace it with this new data frame
movie_df.drop('GENRE', axis = 1, inplace = True)
#print the dataset
movie_df

In [ ]:
#then i would concat the new dataframe to the old dataframe
movie_df = pd.concat([movie_df, genre_df], axis=1)
#print the dataset after joining the new columns
movie_df

In [ ]:
#A quick look at the table summery
movie_df.info()

In [ ]:
#next is the one-line column 
#trim the whitespaces off 
movie_df['ONE-LINE'] = movie_df['ONE-LINE'].str.strip()
#print the dataset
movie_df

In [ ]:
#checking for any other irregularities
movie_df['ONE-LINE']

In [ ]:
#next,is the stars column
#first, get rid of the white spaces 
movie_df['STARS'] = movie_df['STARS'].str.strip()
#print the dataset
movie_df

In [ ]:
#lets take a closer look at the column again
movie_df['STARS']
#i need to replace the ''\n'' with blanks and also replace the '|' with blank
movie_df['STARS'] = movie_df['STARS'].str.replace('\n', '').str.replace('|', ' ')
movie_df['STARS']
#okay, this looks better.

In [ ]:
#next, is the gross column, lets take a look
movie_df['Gross'].unique()

In [ ]:
#i will change the data type but first, have to strip  these string off.
movie_df['Gross'] = movie_df['Gross'].str.replace('$M', '')

In [ ]:

#check for the changes made
movie_df['Gross'].nunique()
#that did not go as planned, okay would try again

In [ ]:

#check for the changes made
movie_df['Gross'].unique()
#that did not go as planned, okay would try again

In [ ]:
movie_df['Gross'].dtype

In [ ]:

movie_df['Gross'] = pd.to_numeric(movie_df['Gross'], errors='coerce')
# Round the 'float_column' to 1 decimal place
movie_df['Gross'] = movie_df['Gross'].round(1)

In [ ]:
#the values been replaced with NaN, next i would change the NaN to zero.
movie_df['Gross']
movie_df['Gross'].fillna(0, inplace = True)
#print the dataset
movie_df

In [ ]:
#check for unique values to know if the changes have been made
print(movie_df['Gross'].unique())

print(movie_df['Gross'].nunique())

#### **_Handling Duplicated Values_**

Duplicated values can be handled in different ways, some might be tolerated depending on the columns they exist on and what type of data present there. for a data like this, the movies column is a unique identifier and should not be allowed to have duplicated values. Alright, so lets continue.

In [ ]:
#i want to check for duplicates and remove duplicates for each column.
#print the dataset
movie_df

In [ ]:
#show the duplicated rows
movie_df[movie_df.duplicated()]

In [ ]:
#drop duplicates 
movie_df = movie_df.drop_duplicates(keep = 'first')
#view the changes made in the dataframe
movie_df

In [ ]:
#several rows have been dropped, but to ensure there are no duplicates, we check by the columns
movie_df['MOVIES'].duplicated()

In [ ]:
#drop duplicates by columns
movie_df['MOVIES'] = movie_df['MOVIES'].drop_duplicates(keep = False)

In [ ]:
#check for duplicate
movie_df['MOVIES'].duplicated()

In [ ]:
#i want to show the duplicated values in the column movies, for a closer look
duplicate = movie_df[movie_df.duplicated(subset = 'MOVIES', keep = False)]
duplicate
#the movie title columns contain NaN, this is unacceptable as the column is a unique identifier and a major kpi to consider.

In [ ]:
#i want to drop the NaN values from the dataset, but i would take a closer look before i do that
movie_df['MOVIES']

In [ ]:
#there are definately NaN values there so i would drop them now. 
movie_df = movie_df.drop_duplicates(subset = 'MOVIES', keep = False)
movie_df

In [ ]:
#check to see if the changes were okay
movie_df['MOVIES'].duplicated()

In [ ]:
#next i want to round VOTES TO a whole munber
movie_df['VOTES'].dtype

In [ ]:

#then i want to round the runtime column to a whole number
movie_df['RunTime'] = movie_df['RunTime'].round(0)
movie_df

In [ ]:

#Votes should be in int, not floats
movie_df['VOTES'] = movie_df['VOTES'].astype('int64',errors='ignore')
movie_df

In [ ]:

#Runtime is also supposed to be in minutes, the right data type for that is int.
movie_df['RunTime'] = movie_df['RunTime'].astype('int64', errors='ignore')
movie_df

In [ ]:

#Votes should be in int, not floats
movie_df['VOTES'] = movie_df['VOTES'].astype('int64', errors='ignore')
movie_df

#Runtime is also supposed to be in minutes, the right data type for that is int.
movie_df['RunTime'] = movie_df['RunTime'].astype('int64', errors='ignore')
movie_df

In [ ]:
#that is a wrap. 
#what a journey that was!
movie_df.info()

In [ ]:
#final desription of the data.
movie_df.describe()

In [ ]:
#final shape of the dataset
movie_df.shape

In [ ]:
#final look at the dataset
movie_df

In [ ]:
#finally, i would save the dataset to my desktop
file_path = r'C:\Users\chhat\Computer_Code/cleaned_movie_data.csv'
movie_df.to_csv(file_path, index = False)
#see you next time! caio!