In [ ]:
Python

In [1]:
print("Hello")

Hello

import os
from pytube import YouTube

# Define the URL of the YouTube video you want to download
video_url = "https://www.youtube.com/watch?v=gbmwWZRq72Y&list=PLrN_S08trZepmNfyTjsbGNr0XMciQcIMM&ab_channel=freeCodeCampHindi"

# Define the path where you want to save the downloaded video
save_path = "D:\Computer_code"

# Create a custom progress callback function
def on_progress(stream, chunk, bytes_remaining):
    total_size = stream.filesize
    bytes_downloaded = total_size - bytes_remaining
    percentage = (bytes_downloaded / total_size) * 100
    print(f"Downloading... {percentage:.2f}% complete", end="\r")

# Create a YouTube object and select the video stream to download
yt = YouTube(video_url, on_progress_callback=on_progress)
video_stream = yt.streams.get_highest_resolution()

# Start the download
print("Downloading video...")
video_stream.download(output_path=save_path)
print("Download completed!")

## Day 1 - variables and operators

In [1]:
# to make a variales
a = 5
print(a)

5

In [2]:
a = 5
b= 6
print(a+b)

11

## Day 3 - In - built - function of Python

Types of Python function

1. built-in-function
2. Python recursive function
3. Python lambda function
4. users-defined functions in Python

In [3]:
print()

### abs() function means absolute function

In [10]:
x = -7.5
print(x)
x1 = abs(-7.25)
print(x1)

-7.5
7.25

In [8]:
y = abs(-8)
print(y)

8

In [9]:
z = abs(4+6j)
print(z)

7.211102550927978

In [13]:
x = bin(14) #binary function
print(x)

0b1110

In [12]:
y = bin(36)
print(y)

0b100100

In [14]:
print(bin(12))

0b1100

In [15]:
print(bin(24))

0b11000

### Python bytes function

In [16]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [17]:
x = bytes(16)
print(x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

### Python chr() function

In [18]:
x = chr(97)
print(x)

a

In [19]:
print(chr(99))

c

In [20]:
print(chr(95))

_

In [22]:
print(chr(96))

`

### Complex function

In [23]:
x = 3 + 5j
print(x)

(3+5j)

In [24]:
x = complex(3,5)
print(x)

(3+5j)

In [26]:
y = complex(2.5, 3.96)
print(y)

(2.5+3.96j)

In [27]:
z = complex("2")
print(z)

(2+0j)

### Float, Str and Int function

In [28]:
print(float(3))

3.0

In [29]:
print(int(45))

45

In [30]:
print(int(3.564))

3

In [32]:
print(str("34"))

34

In [34]:
x = 34
print(type(x))

<class 'int'>

In [35]:
x = "34"
print(type(x))

<class 'str'>

In [36]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### Input function

In [1]:
x = input("what is your name:")
print("Hello", x)

what is your name:ram
Hello ram

### Sort function (sorting a list)

In [8]:
vowels = ["a", "i", "e", "o", "u"]
vowels.sort
print("Here is the sorted list:", vowels)

Here is the sorted list: ['a', 'i', 'e', 'o', 'u']

In [5]:
vowels = ["a", "i", "e", "o", "u"]
vowels.sort(reverse=True)
print("Here is the sorted list:", vowels)

Here is the sorted list: ['u', 'o', 'i', 'e', 'a']

In [40]:
vowels = ["a","o","e","i","u"]
vowels.sort

print(vowels)

['a', 'o', 'e', 'i', 'u']

### User-defined function

In [22]:
#create

def My_function():
    print("Hello Ram")
    print("you are in Indore now, right?")

In [23]:
# calling a function

My_function()

Hello Ram
you are in Indore now, right?

def contact():
    print("contact details of the school")
    print("Govt.sr.sc school")
    print("Banta")
    print(986786348)
    print("Govt.contact@gmail.com")

for i in range(4):
    a = input("Name of student")
    b = int(input("enter the marks of maths"))
    c = int(input("enter the marks of science"))
    d = int(input("ente the marks of social science"))
    print()
    contact()

In [30]:
# Arguments use in function

def ram(fname):
    print(fname + " " + "sharma")

In [36]:
ram("Chhatra")

ram("prakash")

Chhatra sharma
prakash sharma

In [37]:
# Arguments use in function

def ram(fname, lname):
    print(fname + " " + lname)

In [41]:
ram("prakash", "sharma")
ram("rahul", "patel")

prakash sharma
rahul patel

# write a program to calculate the electricity bill

if 500 units used - pay Rs 5 for each unit
if 700 units used - pay Rs 10 for each unit
if 1000 units used - pay Rs 15 for each unit
if more than 1000 units used - pay Rs 20 for each unit

In [43]:
def electricity_bill(n):
    if n<=500:
        print("your bill is Rs", n*5)
    elif n>500 and n<=700:
        print("your bill is Rs", n*10)
    elif n>700 and n<=1000:
        print("your bill is Rs", n*15)
    elif n>1000:
        print("your bill is Rs", n*20)

In [58]:
def prakash():
    print("last date of paying bill is 18 sep")
    print("after last date of bill you have pay Rs 100 as a fine")
    print("Electricity office banta, marwar junction")

In [59]:
for i in range(4):
    a = input("Enter the Name of a customer")
    n = int(input("Enter the unit of electricity you have used"))
    electricity_bill(n)
    print()
    prakash()

Enter the Name of a customerergf
Enter the unit of electricity you have used450
your bill is Rs 2250

last date of paying bill is 18 sep
after last date of bill you have pay Rs 100 as a fine
Electricity office banta, marwar junction
Enter the Name of a customerrdf
Enter the unit of electricity you have used560
your bill is Rs 5600

last date of paying bill is 18 sep
after last date of bill you have pay Rs 100 as a fine
Electricity office banta, marwar junction
Enter the Name of a customererg
Enter the unit of electricity you have used45
your bill is Rs 225

last date of paying bill is 18 sep
after last date of bill you have pay Rs 100 as a fine
Electricity office banta, marwar junction
Enter the Name of a customerrtty
Enter the unit of electricity you have used456
your bill is Rs 2280

last date of paying bill is 18 sep
after last date of bill you have pay Rs 100 as a fine
Electricity office banta, marwar junction

In [42]:
#type casting menas to convert one function type to another

### Control flow statement

### if condition

In [43]:
#write a program to calculate the % of a student in the subject maths sci social eng and hindi

In [46]:
x = input("Enter the name of a student")
a = int(input("enter the marks scored in english"))
b = int(input("enter the marks scored in hindi"))
c = int(input("enter the marks scored in social eng"))
d = int(input("enter the marks scored in maths"))
e = int(input("enter the marks scored in science"))
n = ((a+b+c+d+e)/500)*100
print("the percent scored by student is", n)

Enter the name of a student Chhatra Ram
enter the marks scored in english 89
enter the marks scored in hindi 98
enter the marks scored in social eng 65
enter the marks scored in maths 94
enter the marks scored in science 94

the percent scored by student is 88.0

In [52]:
a = int(input("enter the percentage scored by a student"))

if a>=90:
    print("A grade")
if a>=75 and a<90:
    print("B grade")
if a>=60 and a<75:
    print("C grade")
print("program successfullly excuted")

enter the percentage scored by a student 86

B grade
program successfullly excuted

### if-else statement

In [54]:
a = int(input("enter a number:"))

if a%5==0:
    print("fully divisible")
else:
    print("not divisible")

enter a number: 60

fully divisible

In [55]:
a = int(input("enter a number:"))

if a%5==0:
    print("fully divisible")
else:
    print("not divisible")

enter a number: 21

not divisible

In [59]:
a = int(input("enter a number:"))

if a>0:
    print("Positive number")
else:
    print("Negative number")

enter a number: 0

Negative number

### if-elif-else statement

In [60]:
city = input("enter a city:")

if city == "Delhi":
    print("The monument in Delhi is Redfort")
elif city == "Orissa":
    print("The monument in Orissa is Konal Temple")
elif city == "Hydrabad":
    print("The monument in Hydrabad is Charminar")
elif city == "Jaipur":
    print("The monument in Jaipur is Jalmahal")
else:
    print("No record is found")

enter a city: Jaipur

The monument in Jaipur is Jalmahal

In [64]:
city = input("enter a city:")

if city == "Delhi":
    print("The monument in Delhi is Redfort")
elif city == "Orissa":
    print("The monument in Orissa is Konal Temple")
elif city == "Hydrabad":
    print("The monument in Hydrabad is Charminar")
elif city == "Jaipur":
    print("The monument in Jaipur is Jalmahal")
else:
    print("No record is found")

enter a city: Orissa

The monument in Orissa is Konal Temple

### Nested if-else statement

We can have an if…elif…else statement inside another if…elif…else statement. 

This is called nesting in computer programming. Any number of these statements can be nested inside one another. 
Indentation is the only way to figure out the level of nesting.

In [65]:
num = 15
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

In [70]:
a = 50

if a < 100:
    if a == 50:
        print("This is half of 100")
    else:
        print("This is smaller than 100")
else:
    print("This is bigger than 100")

This is half of 100

### Loops in Python

In [1]:
# while loop

i = 1
n = 5

while i<=n:
    print(i)
    i = i+1

1
2
3
4
5

In [3]:
x = int(input("enter the value"))
i = 1

while i<=10:
    print(x*i)
    i = i+1
print("This is the multiplication table of", x)

enter the value8
8
16
24
32
40
48
56
64
72
80
This is the multiplication table of 8

In [ ]:
# while infinite loop

age = 28

while age>20:
    print("you can vote")

In [19]:
count = 0

while (count <9):
    print("Hello students")
    count = count +1
else:
    print("this is else block")

Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
Hello students
this is else block

### For loop statement

In [5]:
fruits = ["apple", "banana", "orage"]

for x in fruits:
    print(x)

apple
banana
orage

In [9]:
fruits = ["apple", "banana", "orage"]

for x in fruits:
    print(x, end= " ")

apple banana orage

In [17]:
for a in "apple":
    print(a)

a
p
p
l
e

In [18]:
for i in range(0, 6):
    print(i)

    
    
    
for i in range(10):
    print(i)

0
1
2
3
4
5
0
1
2
3
4
5
6
7
8
9

### Strrings in Python

In [2]:
a = '''Chhatra
Ram 
dewasi
Banta
now live in INdore'''
print(a)

Chhatra
Ram
dewasi
Banta
now live in INdore

In [3]:
# Indexing of strings

a= "Chhatra Ram"
print([2])

[2]

In [4]:
print(a[2])

h

In [5]:
print(a[0:8])

Chhatra

In [6]:
print(a[0:20])

Chhatra Ram

In [7]:
print(a[-1])

m

In [8]:
print(a[:5])

Chhat

In [9]:
print(a[-1:-12]) # not possible to show

In [10]:
print(a[1:-7])

hha

In [11]:
print(a[5:0]) # not possible because there is not possible to show

In [12]:
print(a[0:20:2])

ChtaRm

In [13]:
print(a[3:9:4])

a

In [14]:
print(a[1:8:1])

hhatra

In [15]:
print(a[::-1]) # to reverse all characters

maR artahhC

In [16]:
print(len(a))

11

In [18]:
a = "Python lang"
print(a)
print(len(a))

Python lang
11

In [25]:
# upper methods

a = "Chhatra Ram"

print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.count("h"))
print(a.find("h"))
print(a.replace("Ram", "Sharma"))
print(a.strip())

CHHATRA RAM
chhatra ram
Chhatra ram
2
1
Chhatra Sharma
Chhatra Ram

### List in Python

In [28]:
a = [2,4,6,6,7,"hello", 5,6,]

print(a)
print(type(a))

[2, 4, 6, 6, 7, 'hello', 5, 6]
<class 'list'>

In [36]:
# list are ordered, chageable and allow duplicate values, its mutable

a = [2,4,6]
a[1] = 5
a[0] = 10
a[0] = 15
print(a)
print(len(a))

[15, 5, 6]
3

In [37]:
a = [2,4,6,6,7,7,"banana", "hwlo"]

print(len(a))

8

In [39]:
print(a.append("ram"))
print(a)

None
[2, 4, 6, 6, 7, 7, 'banana', 'hwlo', 'ram', 'ram']

In [40]:
print(a[3])

6

In [45]:
a = [2,4,6,24,66,55,"ram",56,"haaa"]

b = 23,45

print(a.extend(b))


print(a)

None
[2, 4, 6, 24, 66, 55, 'ram', 56, 'haaa', 23, 45]

In [46]:
print(a[0:6])

[2, 4, 6, 24, 66, 55]

In [47]:
print(a[0:12:3])

[2, 24, 'ram', 23]

In [48]:
a[1] = "rammm"
print(a)

[2, 'rammm', 6, 24, 66, 55, 'ram', 56, 'haaa', 23, 45]

In [52]:
a[0:3] = "daraga", "mukkesh", "dinesh",12,34.56,67,45,56,88
print(a)

['daraga', 'mukkesh', 'dinesh', 12, 34.56, 67, 45, 56, 88, 12, 34.56, 67, 12, 24, 66, 55, 'ram', 56, 'haaa', 23, 45]

In [53]:
a = [23,45,456,45]

a.append(-9)
print(a)

[23, 45, 456, 45, -9]

In [54]:
a.remove(-9)
print(a)

[23, 45, 456, 45]

In [55]:
a.reverse()
print(a)

[45, 456, 45, 23]

In [76]:
list = [23,45]
print(len(list))
print(list)

x = 0
for i in range(2):
    x = x + list[i]
    i = i +1
print("sum of all the number is", x)

2
[23, 45]
sum of all the number is 68

In [73]:
a = [1,2,3,4,5,6,7,8,9,10]
print(len(a))
print(a)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
x = 1
for i in range(10):
    x = x * a[i]
    i = i +1
print("mulplication of all the numbers is", x)

mulplication of all the numbers is 3628800

In [81]:
x = 10
for i in range(10):
    x = x % a[i]
    i = i +1
print("mulplication of all the numbers is", x)

mulplication of all the numbers is 0

### Tuple in Python

tuple are used to stor multiple items in a single variables
tuple are immutable
they are ordered, unchageable and allow duplicate values
tuple is always in parenthesis

In [83]:
T = (2,34,534,5,34, "ram")
print(T)
print(type(T))

(2, 34, 534, 5, 34, 'ram')
<class 'tuple'>

In [84]:
t = () # empty tuple
print(t)

()

In [85]:
t = (23,345,5345, [23,34,56,3], (3,33,3))
print(t)

(23, 345, 5345, [23, 34, 56, 3], (3, 33, 3))

In [88]:
t = (4,)
print(t)
print(type(t))

(4,)
<class 'tuple'>

In [89]:
t = (4) # for tuple we have to use comma after values
print(t)
print(type(t))

4
<class 'int'>

In [90]:
a = tuple((2,3,4,5))
print(a)
print(type(a))

(2, 3, 4, 5)
<class 'tuple'>

In [92]:
print(a[0:4])
print(a[0:4:2])
print(a[0:])

(2, 3, 4, 5)
(2, 4)
(2, 3, 4, 5)

In [99]:
a = (2,34,3,4,4)
print(a)
a.count(4)

(2, 34, 3, 4, 4)

2

In [109]:
x = (3,5,6,6)
y = [x] # not write list in  front of [x] because it not callable error shows
y.append(30)
x = tuple(y)
print(x)

((3, 5, 6, 6), 30)

In [108]:
x = (3,5,6,6)
y = list[x]
y.append(30)
x = tuple(y)
print(x)

TypeError: list indices must be integers or slices, not tuple

In [114]:
x = (3,5,6,6)
for i in x:
    print(i)

3
5
6
6

In [117]:
t1 = (2,34,343)
t2 = (2,4,34)
t3 = t1 +t2
print(t3)
t4 = t1*t2
print(t4)

(2, 34, 343, 2, 4, 34)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [119]:
t1 = (2,34,343)
t2 = (2,4,34)
t3 = t1*3
print(t3)

(2, 34, 343, 2, 34, 343, 2, 34, 343)

In [122]:
t = (1,2,3,4,5,6,7,8)
print(t*2)
print(t + t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

In [126]:
# to make tuple by taking input from users
t =()

i = 0
while i<=5:
    num = int(input("enter the value please"))
    t = t + (num,)
    i = i+1
    print(t)

enter the value please24
(24,)
enter the value please25
(24, 25)
enter the value please36
(24, 25, 36)
enter the value please32
(24, 25, 36, 32)
enter the value please32
(24, 25, 36, 32, 32)
enter the value please25
(24, 25, 36, 32, 32, 25)

## Dictionary in Python

dict are used to store data values in key:values pairs
dict are ordered, mutable, heterogeneous
it can contain dict into dict or contain list in dict
dict does not allow duplicates
indexing  work in dict lile list and tuple

In [132]:
a = {
    "india":"delhi",
    "pakistan":"islamabad",
    "srilanka":"colombo"
}
print(a)
print(type(a))

{'india': 'delhi', 'pakistan': 'islamabad', 'srilanka': 'colombo'}
<class 'dict'>

In [132]:
a = {
    "india":"delhi",
    "pakistan":"islamabad",
    "srilanka":"colombo"
}
print(a)
print(type(a))

{'india': 'delhi', 'pakistan': 'islamabad', 'srilanka': 'colombo'}
<class 'dict'>

In [133]:
print(a["india"])

delhi

In [134]:
print(len(a))

3

In [139]:
x = a.keys()
x

dict_keys(['india', 'pakistan', 'srilanka'])

In [140]:
x = a.values()
x

dict_values(['delhi', 'islamabad', 'colombo'])

In [142]:
a["india"] = "jaipur"
print(a)

{'india': 'jaipur', 'pakistan': 'islamabad', 'srilanka': 'colombo'}

In [148]:
print(a["india"])

jaipur

In [149]:
a.copy()

{'india': 'jaipur', 'pakistan': 'islamabad', 'srilanka': 'colombo'}

In [153]:
a.pop("india")

'jaipur'

In [154]:
print(a)

{'pakistan': 'islamabad', 'srilanka': 'colombo'}

In [157]:
a.update({"make":"ss"})
print(a)

{'pakistan': 'islamabad', 'srilanka': 'colombo', 'make': 'ss'}

In [158]:
del a # to delete the whole dict
print(a)

NameError: name 'a' is not defined

In [159]:
x = {
    "india":"delhi",
    "pakistan":"islamabad",
    "srilanka":"colombo"
}
print(x)

{'india': 'delhi', 'pakistan': 'islamabad', 'srilanka': 'colombo'}

In [161]:
x.clear() # to clear all key: values pairs and provide a empty dict
print(x)
print(type(x))

{}
<class 'dict'>

In [163]:
# to concanate the dict
d1 = {1:10, 2:20}
d2 = {3:30, 4:40}
d3 = {5:50, 6:60}
d4 = {7:70,8:80}
d5 = {}
for i in (d1,d2,d3,d4): d5.update(i)
print(d5)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80}

In [164]:
d = dict()

for i in range(16):
    d[i] = i**2
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

#### Check whether a given key is already exists in dict

In [1]:
d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60, 7:70}

def is_key_present(x):
    if x in d:
        print("key is present in the dict")
    else:
        print("key in not present in the dict")

is_key_present(5)

key is present in the dict

In [2]:
is_key_present(7)

key is present in the dict

In [3]:
is_key_present(20)

key in not present in the dict

## Sets in Python - Day 11

sets are used to store multiple items in a single variable.
set is one of 4 built-in data types in Python used to store collections of data, the other 3 are list, tuple and dict.

A set is a collection which is unordered, unchangeable (but you can add and delete any items) and unindexed.
there is no any duplicate allow so no indexing concept apply here.

trick - LDT     List[], Dict{}, Tuple()

In [14]:
s = {}
s2 = {2,}

print(type(s))
print(type(s2))

<class 'dict'>
<class 'set'>

In [15]:
s3 = {"ram", "you", 3, 5,3, 3,6,6}
print(s3)
print(len(s3))

{'you', 3, 5, 6, 'ram'}
5

In [16]:
s3.add(50)
print(s3)

{'you', 50, 3, 5, 6, 'ram'}

In [20]:
# when you want to delete any random item from your set
s3.pop()
print(s3)

{3, 5, 6, 'ram'}

In [26]:
s3.remove(6)
s3.update
print(s3)

{3, 5, 'ram'}

there is no any nesting in set, we can not make list, dict in set formate but we can make tupel in set

In [29]:
t = (2,3,6,6,7,59,"ram")
print(type(t))
s4 = set(t)
print(s4)
print(type(s4))

<class 'tuple'>
{2, 3, 6, 7, 59, 'ram'}
<class 'set'>

In [31]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

In [35]:
a = {"a", "b", "c","d"}

for x in a:
    print(x)

a
c
b
d

In [34]:
a = {"a", "b", "c","d"}

for x in a:
   
    print(x, end= "")

acbd

In [37]:
x = {"data", "Python", "ram"}
y = {2,5,6,7,89,9}
x.update(y)
print(x)

{'data', 2, 5, 6, 7, 9, 'Python', 89, 'ram'}

In [39]:
a = {"a", "b", "c","d"}
a.clear()
print(a)

set()

In [40]:
a = {"a", "b", "c","d"}
del a
print(a)

NameError: name 'a' is not defined

In [42]:
# join two sets
a = {3,6,7,7,99,8}
b = {34,56,67,89,89,9}
z = a.union(b)
print(z)

{34, 3, 99, 67, 6, 7, 8, 9, 56, 89}

In [45]:
print(z)
print(min(z))
print(max(z))

{34, 3, 99, 67, 6, 7, 8, 9, 56, 89}
3
99

#### return a new set of identical or common items form two set

In [46]:
a = {3,6,7,7,99,8}
b = {7,9,8,89,6,9}

a.intersection(b)
print(a)

{3, 99, 6, 7, 8}

In [47]:
a = {3,6,7,7,99,8}
b = {7,9,8,89,6,9}

a.intersection_update(b)
print(a)

{8, 6, 7}

In [50]:
a = {3,6,7,7,99,8}
print(99 in a)
print("data" in a)

True
False

In [52]:
a1 = {"True", "Falce"}
print(a1)
print("True" in a1)

{'Falce', 'True'}
True