In [3]:
import pandas as pd
import numpy as np

In [4]:
df2 = pd.read_csv("C:/Users/chhat/Computer_Code/SQL/house_prices.csv")

In [5]:
df2.head(3)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN

In [6]:
df2.shape

(187531, 21)

In [7]:
df2.size

3938151

In [8]:
((df2.isnull().sum() / df2.shape[0])*100).round(1)

Index                  0.0
Title                  0.0
Description            1.6
Amount(in rupees)      0.0
Price (in rupees)      9.4
location               0.0
Carpet Area           43.0
Status                 0.3
Floor                  3.8
Transaction            0.0
Furnishing             1.5
facing                37.5
overlooking           43.4
Society               58.5
Bathroom               0.4
Balcony               26.1
Car Parking           55.1
Ownership             34.9
Super Area            57.4
Dimensions           100.0
Plot Area            100.0
dtype: float64

In [9]:
df = pd.read_csv("C:/Users/chhat/Computer_Code/SQL/Sales_transactions_data.csv")

In [10]:
df.head(2)

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom

In [11]:
df.shape

(536295, 8)

In [12]:
df.size

4290360

In [13]:
df.isnull().sum()

TransactionNo    0
Date             0
ProductNo        0
ProductName      0
Price            0
Quantity         0
CustomerNo       0
Country          0
dtype: int64

In [14]:
((df.isnull().sum() / df.shape[0])*100).round(4)

TransactionNo    0.0
Date             0.0
ProductNo        0.0
ProductName      0.0
Price            0.0
Quantity         0.0
CustomerNo       0.0
Country          0.0
dtype: float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536295 entries, 0 to 536294
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536295 non-null  object
 1   Date           536295 non-null  object
 2   ProductNo      536295 non-null  object
 3   ProductName    536295 non-null  object
 4   Price          536295 non-null  float64
 5   Quantity       536295 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536295 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

In [26]:
# df2.dropna(subset=['CustomerNo'], axis=0, inplace=True)

In [16]:
df.isnull().sum().sum()

0

In [43]:
# df2.to_csv("C:/Users/chhat/Computer_Code/SQL/Sales_transactions_data.csv", index=False)

In [44]:
import os
print(os.getcwd())

c:\Users\chhat\AppData\Local\Programs\Microsoft VS Code

In [17]:
df.columns

Index(['TransactionNo', 'Date', 'ProductNo', 'ProductName', 'Price',
       'Quantity', 'CustomerNo', 'Country'],
      dtype='object')

In [18]:
df.columns = ['Transaction_No', 'Date', 'Product_No', 'Product_Name', 'Price',
       'Quantity', 'Customer_No', 'Country']

In [19]:
df.head(0)

Empty DataFrame
Columns: [Transaction_No, Date, Product_No, Product_Name, Price, Quantity, Customer_No, Country]
Index: []

In [20]:
df.columns

Index(['Transaction_No', 'Date', 'Product_No', 'Product_Name', 'Price',
       'Quantity', 'Customer_No', 'Country'],
      dtype='object')

In [22]:
df['Transaction_No'].unique()

23168

In [26]:
df['Date'].unique()

array(['12/9/2019', '12/8/2019', '12/7/2019', '12/6/2019', '12/5/2019',
       '12/4/2019', '12/2/2019', '12/1/2019', '11/30/2019', '11/29/2019',
       '11/28/2019', '11/27/2019', '11/25/2019', '11/24/2019',
       '11/23/2019', '11/22/2019', '11/21/2019', '11/20/2019',
       '11/18/2019', '11/17/2019', '11/16/2019', '11/15/2019',
       '11/14/2019', '11/13/2019', '11/11/2019', '11/10/2019',
       '11/9/2019', '11/8/2019', '11/7/2019', '11/6/2019', '11/4/2019',
       '11/3/2019', '11/2/2019', '11/1/2019', '10/31/2019', '10/30/2019',
       '10/28/2019', '10/27/2019', '10/26/2019', '10/25/2019',
       '10/24/2019', '10/23/2019', '10/21/2019', '10/20/2019',
       '10/19/2019', '10/18/2019', '10/17/2019', '10/16/2019',
       '10/14/2019', '10/13/2019', '10/12/2019', '10/11/2019',
       '10/10/2019', '10/9/2019', '10/7/2019', '10/6/2019', '10/5/2019',
       '10/4/2019', '10/3/2019', '10/2/2019', '9/30/2019', '9/29/2019',
       '9/28/2019', '9/27/2019', '9/26/2019', '9/25/2019', '9/23/2019',
       '9/22/2019', '9/21/2019', '9/20/2019', '9/19/2019', '9/18/2019',
       '9/16/2019', '9/15/2019', '9/14/2019', '9/13/2019', '9/12/2019',
       '9/11/2019', '9/9/2019', '9/8/2019', '9/7/2019', '9/6/2019',
       '9/5/2019', '9/4/2019', '9/2/2019', '9/1/2019', '8/31/2019',
       '8/30/2019', '8/28/2019', '8/26/2019', '8/25/2019', '8/24/2019',
       '8/23/2019', '8/22/2019', '8/21/2019', '8/19/2019', '8/18/2019',
       '8/17/2019', '8/16/2019', '8/15/2019', '8/14/2019', '8/12/2019',
       '8/11/2019', '8/10/2019', '8/9/2019', '8/8/2019', '8/7/2019',
       '8/5/2019', '8/4/2019', '8/3/2019', '8/2/2019', '8/1/2019',
       '7/31/2019', '7/29/2019', '7/28/2019', '7/27/2019', '7/26/2019',
       '7/25/2019', '7/24/2019', '7/22/2019', '7/21/2019', '7/20/2019',
       '7/19/2019', '7/18/2019', '7/17/2019', '7/15/2019', '7/14/2019',
       '7/13/2019', '7/12/2019', '7/11/2019', '7/10/2019', '7/8/2019',
       '7/7/2019', '7/6/2019', '7/5/2019', '7/4/2019', '7/3/2019',
       '7/1/2019', '6/30/2019', '6/29/2019', '6/28/2019', '6/27/2019',
       '6/26/2019', '6/24/2019', '6/23/2019', '6/22/2019', '6/21/2019',
       '6/20/2019', '6/19/2019', '6/17/2019', '6/16/2019', '6/15/2019',
       '6/14/2019', '6/13/2019', '6/12/2019', '6/10/2019', '6/9/2019',
       '6/8/2019', '6/7/2019', '6/6/2019', '6/5/2019', '6/3/2019',
       '6/2/2019', '6/1/2019', '5/31/2019', '5/29/2019', '5/27/2019',
       '5/26/2019', '5/25/2019', '5/24/2019', '5/23/2019', '5/22/2019',
       '5/20/2019', '5/19/2019', '5/18/2019', '5/17/2019', '5/16/2019',
       '5/15/2019', '5/13/2019', '5/12/2019', '5/11/2019', '5/10/2019',
       '5/9/2019', '5/8/2019', '5/6/2019', '5/5/2019', '5/4/2019',
       '5/3/2019', '5/1/2019', '4/28/2019', '4/27/2019', '4/26/2019',
       '4/21/2019', '4/20/2019', '4/19/2019', '4/18/2019', '4/17/2019',
       '4/15/2019', '4/14/2019', '4/13/2019', '4/12/2019', '4/11/2019',
       '4/10/2019', '4/8/2019', '4/7/2019', '4/6/2019', '4/5/2019',
       '4/4/2019', '4/3/2019', '4/1/2019', '3/31/2019', '3/30/2019',
       '3/29/2019', '3/28/2019', '3/27/2019', '3/25/2019', '3/24/2019',
       '3/23/2019', '3/22/2019', '3/21/2019', '3/20/2019', '3/18/2019',
       '3/17/2019', '3/16/2019', '3/15/2019', '3/14/2019', '3/13/2019',
       '3/11/2019', '3/10/2019', '3/9/2019', '3/8/2019', '3/7/2019',
       '3/6/2019', '3/4/2019', '3/3/2019', '3/2/2019', '3/1/2019',
       '2/28/2019', '2/27/2019', '2/25/2019', '2/24/2019', '2/23/2019',
       '2/22/2019', '2/21/2019', '2/20/2019', '2/18/2019', '2/17/2019',
       '2/16/2019', '2/15/2019', '2/14/2019', '2/13/2019', '2/11/2019',
       '2/10/2019', '2/9/2019', '2/8/2019', '2/7/2019', '2/6/2019',
       '2/4/2019', '2/3/2019', '2/2/2019', '2/1/2019', '1/31/2019',
       '1/30/2019', '1/28/2019', '1/27/2019', '1/26/2019', '1/25/2019',
       '1/24/2019', '1/23/2019', '1/21/2019', '1/20/2019', '1/19/2019',
       '1/18/2019', '1/17/2019', '1/16/2019', '1/14/2019', '1/13/2019',
       '1/12/2019', '1/11/2019', '1/10/2019', '1/9/2019', '1/7/2019',
       '1/6/2019', '1/5/2019', '1/4/2019', '12/23/2018', '12/22/2018',
       '12/21/2018', '12/20/2018', '12/19/2018', '12/17/2018',
       '12/16/2018', '12/15/2018', '12/14/2018', '12/13/2018',
       '12/12/2018', '12/10/2018', '12/9/2018', '12/8/2018', '12/7/2018',
       '12/6/2018', '12/5/2018', '12/3/2018', '12/2/2018', '12/1/2018'],
      dtype=object)

In [29]:
df['Date']= pd.to_datetime(df['Date'], errors='coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536295 entries, 0 to 536294
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction_No  536295 non-null  object
 1   Date            536295 non-null  datetime64[ns]
 2   Product_No      536295 non-null  object
 3   Product_Name    536295 non-null  object
 4   Price           536295 non-null  float64
 5   Quantity        536295 non-null  int64
 6   Customer_No     536295 non-null  float64
 7   Country         536295 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.7+ MB

In [37]:
df['Product_Name'].value_counts()

Product_Name
Cream Hanging Heart T-Light Holder    2378
Regency Cakestand 3 Tier              2200
Jumbo Bag Red Retrospot               2159
Party Bunting                         1727
Lunch Bag Red Retrospot               1639
                                      ...
Blue Drop Earrings W Bead Cluster        1
Pink Chrysanthemums Art Flower           1
Necklace+Bracelet Set Pink Daisy         1
Scallop Shell Soap Dish                  1
Porcelain Hanging Bell Small             1
Name: count, Length: 3767, dtype: int64

In [36]:
df.Price.value_counts()

Price
11.53    45475
6.19     37527
11.12    26491
13.27    25815
11.94    24244
         ...
15.16        1
14.47        1
50.36        1
22.19        1
30.27        1
Name: count, Length: 527, dtype: int64