In [45]:
import numpy as np
import seaborn as sns
import statistics as stats
import pandas as pd
import matplotlib.pyplot as plt
import math

In [46]:
data = np.arange(0,100, 2)

print(data)

[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46
 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94
 96 98]

In [47]:
# for 1D array data mean calculation

stats.mean(data)

49

In [48]:
# for multidimensional array mean calculation

np.mean(data)

49.0

In [49]:
stats.median(data)

49.0

In [50]:
# there is 'NO' any mode because no repetition of any number

stats.mode(data)

0

In [51]:
data.dtype

dtype('int32')

In [60]:
df = data.astype(float)

print(df)

[ 0.  2.  4.  6.  8. 10. 12. 14. 16. 18. 20. 22. 24. 26. 28. 30. 32. 34.
 36. 38. 40. 42. 44. 46. 48. 50. 52. 54. 56. 58. 60. 62. 64. 66. 68. 70.
 72. 74. 76. 78. 80. 82. 84. 86. 88. 90. 92. 94. 96. 98.]

In [61]:
df.dtype

dtype('float64')

In [62]:
print(df.std())

print(df.var())


print(math.sqrt(833))

28.861739379323623
833.0
28.861739379323623

In [66]:
# mean of sample and population

print(stats.stdev(df))
print(stats.pstdev(df))

29.154759474226502
28.861739379323623

In [68]:
df

array([ 0.,  2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20., 22., 24.,
       26., 28., 30., 32., 34., 36., 38., 40., 42., 44., 46., 48., 50.,
       52., 54., 56., 58., 60., 62., 64., 66., 68., 70., 72., 74., 76.,
       78., 80., 82., 84., 86., 88., 90., 92., 94., 96., 98.])